<div class="navbar nav-bar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <h1>Caderno Protocolo</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="receber">Receber</a></li>
        <li><a href="enviar">Enviar</a></li>
        <li><a>Usuários</a></li>
        <li><a>Origens</a></li>
        <li><a>Destinos</a></li>
      </ul>
    </div>

    <div class="span10" id="content">

    </div>
  </div>
</div>